.Login-Google {
  position: relative;
  text-align: center;
}
.Profile-Wrapper {
  display: flex;
  flex-wrap: wrap;
}
.Profile-Img {
  margin-top: 5px;
  width: 70px;
  border-radius: 50%;
}
p {
  margin-top: 0px;
}
.Details {
  margin-left: 1em;
  align-self: center;
  display: flex;
  flex-direction: column;
}
